
<div id="pictures" style="background-color:#ffe6e3;">
<ul>
<span [ngSwitch]="imgFromRoute.Category">
<img *ngSwitchCase="'בנים'" src=  "assets/images/background/sons.jpg" width="100%"> 
<img *ngSwitchCase="'בנות'" src=  "assets/images/background/girls.jpg" width="100%">
<img *ngSwitchCase="'משפחה'"src=  "assets/images/background/family.jpg" width="100%">
<img *ngSwitchCase="'תאומים'" src="assets/images/background/twins.jpg" width="100%">
</span> 
<li *ngFor="let item of imgFromRoute.Images " style=" display: inline-block; margin-left: 25px;">
<img class="img-thumbnail" src="{{item}}" alt="" width="260" style="margin-bottom: 20px; ">
</li>
</ul>
</div>  