


<video id="videoPlayer" preload="auto" autoplay="" muted="muted" width="100%" loop="loop">
<source src="assets\video.mp4">
</video>

<div class="centered">
<h1>מזל טוב!!</h1><br>
<h4>בייבי חדש זה תמיד מרגש<br>
מוזמנת להנציח את הרגעים האלו בשלווה ובכיף
</h4>
</div>
<img  src="assets\images\background\about.jpg" alt="Card image cap" width="100%">

<section>
<div class="row" style="width: 100%;">

  <div class="col-md-6 gx-5 mb-4" style="padding: 30px;"> <br> <br>
    <h1 style="color: #f2beb8;"><strong> הכל התחיל עם אהבה גדולה </strong></h1>
<h1 style="color: #f2beb8;"><strong>למלאכים קטנים</strong></h1> 
<p class="text-muted" >
  מאז שאני זוכרת את עצמי אהבתי תינוקות.<br>
  היצורים הקטנים והמלאכיים האלה, המיסו לי את הלב.<br>
  ופשוט ידעתי שאני עוד אעשה משהו עם האהבה הזו,<br>
  גדלתי, ויחד איתי גדל החלום ואהבה למלאכים הקטנים בניחוח גן עדן.<br>
  זוכרת את עצמי יושבת ומסתכלת בתמונות NB וחוקרת איך עשו את זה,<br>
  באיזה צורה?, זה לא כואב להם?.<br>
  חיפשתי תשובות וגם מצאתי אותן!<br>
  הבנתי שהתינוקות מרגישים הכי מוגנים בעולם.<br>
  הבנתי ש- התנוחות והעיטופים מפנקים אותם<br>
  וגורמים להם לרוגע ושלווה ככל שאפשר:) הוקסמתי!<br>
    ואז עם מלא ידע יצאתי לדרך~<br>
</p>
  </div>
  
  <div class="col-md-6 gx-5 mb-4">
    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
      <img src="assets\images\background\about1.jpg" class="img-fluid" style="padding: 20px; width: 37%;"/>
      <img src="assets\images\background\about4.jpg" class="img-fluid" style="padding: 20px; width: 40%;"/>

      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
  </div>
</div>
</section>



<section>
<div class="row" style="width: 100%;">
<div class="col-md-6 gx-5 mb-4">
<div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
  <img src="assets\images\background\about2.jpg" class="img-fluid" style="padding: 30px; width: 80%;"/>
  <a href="#!">
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
  </a>
</div>
</div>
<div class="col-md-6 gx-5 mb-4" style="padding: 20px;"> <br> <br>
<h2 style="color: #f2beb8;"><strong> מקצועיות זה הלב שלי </strong></h2> 
    <p class="text-muted" >
    למדתי צילום ולא נחתי. המשכתי להתקדם ולהתמקצע,<br>
    לא הספיק לי הידע שהיה קיים אז פיתחתי שיטות צילום אישיות שלי , וקראתי המון<br>
    חומר על הגיל המיוחד והעדין הזה.<br>
    יש לי ליין ייצור מיוחד לאביזרי NB. רב האביזרים בהם אני משתמשת הם ייצור אישי<br>
    שלי.<br>
    ככה זה כשעושים דברים מאהבה. <br>
    כשעובדים עם הלב וחותרים לשלמות ומצוינות גם מצליחים בס"ד!<br>
    כיום אני מעבירה סדנאות במסלולי מקצוע ובאופן פרטני ונהנית לראות את<br>
    התלמידות שלי נכנסות לשוק וממיסות את הצופים.<br>
    את התוצאות של הדרך שעשיתי?<br>
    מוזמנת להיכנס לגלריות ופשוט להתמכר, ממש כמוני:)<br>
    </p>
</div>
</div>
</section>









