
#content{
    background-color: #fae4e1;
}

.form-row{
    margin-top: 75px;
    margin-right: 500px;
}
form{
  
    direction: rtl;
    border: 1px solid #f2beb8;
    text-align: center;
}
p{
    color: white;
}
h5{
    color: white;
}
button{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-color:white;
    color: white;
    background-color: #f2beb8;   
    
}
button:hover{
    background-color: white;
    color: #f2beb8;
}
hr{
    color: white;
}