

<div id="content">
<form>
<div class="form-row">
<div class="form-group col-md-6">
<input type="text" class="form-control"  id="name" placeholder="שם"  pattern="[a-zA-Z || א-ת]*" required>
</div>
<br>
<div class="form-group col-md-6">
<input type="email" class="form-control" name="email" placeholder="אמייל" >
</div>
<br>
<div class="form-group col-md-6">
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="שלח פניה "></textarea>
</div>
</div>
<br>
<button type="submit"  (click)="onSumbit()">שליחה</button>
<br>
<br>
<h5>אני פה לכל שאלה<br>
ומשאלה, איזה מזל!</h5>
<p>
אני כאן בשביל להגשים לך צילומי ניו <br>
בורן חלומיים באווירה חוויתית ורגועה<br>
עד לבית שלך, כן. ממש מזל טוב! <br>
</p>
<hr>
<p>
טלפון: 0548524765 <br>
מייל: ayala8524765@gmail.com <br>
<br>
</p>
</form>
</div>