.add{
    padding: 60px;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 20px;
    border-radius: 5px;
    border-color:white;
    background-color: white;
    color: #f2beb8;
}
.add:hover{
    color: white;
    background-color: #f2beb8;   
}
.content{
    background-color: #fae4e1;
}

button{
    padding: 10px;
    font-size: 20px;
    border-radius : 5px ;
    border-color:white;
    
}

